/*
 * css styles go here
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


body {
  font-family: 'Noto Sans KR', Helvetica,Arial,sans-serif;
}

a, a:visited {
  color: navy;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




#header {
  padding: 10px;
}

#header .big {
  font-size:   240%;
  font-weight: bold;
}

#header .small {
  font-size:    150%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 8px;
}




