/*
 * css styles go here
 */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

 /* html {
   font-size: 0.6em; 
 } */
 
@media screen and (min-width:1024px) {
  html{font-size: 0.6em;} /* 모바일 화면에 적절한 폰트 크기 조정 */

  #nav{
    margin-left: 25%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 25%; /* 모바일 화면에 더 가운데 정렬 */
    font-size: 2.0rem;
    white-space: nowrap;
  }

  #content {
    margin-left: 25%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 25%; /* 모바일 화면에 더 가운데 정렬 */
    white-space: nowrap;
  }
}
@media screen and (max-width:1023px) {
  html{font-size: 0.65em;}
  #nav{
    margin-left: 15%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 15%; /* 모바일 화면에 더 가운데 정렬 */
    font-size: 2.3rem;
    white-space: nowrap;
  }
  #content {
    margin-left: 15%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 15%; /* 모바일 화면에 더 가운데 정렬 */
    white-space: nowrap;
  }
}
@media screen and (max-width:767px) {
  html{font-size: 0.7em;}
  #nav{
    margin-left: 10%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 10%; /* 모바일 화면에 더 가운데 정렬 */
    font-size: 2.6rem;
    white-space: nowrap;
  }
  #content {
    margin-left: 10%; /* 모바일 화면에 더 가운데 정렬 */
    margin-right: 10%; /* 모바일 화면에 더 가운데 정렬 */
    white-space: nowrap;
  }
}


 
 body {
   font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
   font-size: 1.7rem;
 }
 
 a:link,
 a:visited {
   color: #E34237;
   font-weight: bold;
   text-decoration: none;
 }
 
 a:hover {
   color: #E34237;
 }
 
 #header {
   padding-top: 2rem;
 }
 
 #header .big {
   font-size: 3.2rem;
   font-weight: bold;
   color: #E34237;
 }
 
 #header .small {
   font-size: 1.6rem;
   color: grey;
   padding-top: 2rem;
   padding-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 #nav {

   height: 3rem;
   border-bottom: 0.15rem solid #E34237;
   column-gap: 3rem;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.04em;
 }
 
 #nav-items {
   padding-left: 0.5rem;
 }
 
 #nav-item {
   margin-left: 0.5rem;
 }
 
 /* #content {
   margin-left: 25%; 
   margin-right: 25%; 
 }
*/
 ul,
 ol {
   line-height: 1.8;
   margin: 0;
   padding-inline-start: 1.9em;
 }
 
 li::marker {
   content: "✓ "; /* 리스트 마커 모양 변경 */
   color: #E34237;
   font-size: 1.1em;
 }
 
