/*
 * css styles go here
 */
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

 html {
   font-size: 0.6em; /* 모바일 화면에 적절한 폰트 크기 조정 */
 }
 
 body {
   font-family: 'Noto Sans KR', Helvetica, Arial, sans-serif;
   font-size: 1.7rem;
 }
 
 a:link,
 a:visited {
   color: #E34237;
   font-weight: bold;
   text-decoration: none;
 }
 
 a:hover {
   color: #E34237;
 }
 
 #header {
   padding-top: 2rem;
 }
 
 #header .big {
   font-size: 3.2rem;
   font-weight: bold;
   color: #E34237;
 }
 
 #header .small {
   font-size: 1.6rem;
   color: grey;
   padding-top: 2rem;
   padding-bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 #nav {
   margin-left: 25%; /* 모바일 화면에 더 가운데 정렬 */
   margin-right: 25%; /* 모바일 화면에 더 가운데 정렬 */
   height: 3rem;
   border-bottom: 0.15rem solid #E34237;
   column-gap: 3rem;
   padding: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   letter-spacing: 0.04em;
 }
 
 #nav-items {
   padding-left: 1rem;
 }
 
 #nav-item {
   margin-left: 1rem;
 }
 
 #content {
   margin-left: 25%; /* 모바일 화면에 더 가운데 정렬 */
   margin-right: 25%; /* 모바일 화면에 더 가운데 정렬 */
 }
 
 ul,
 ol {
   line-height: 1.8;
   margin: 0;
   padding-inline-start: 1.9em;
 }
 
 li::marker {
   content: "✓ "; /* 리스트 마커 모양 변경 */
   color: #E34237;
   font-size: 1.1em;
 }
 